.header-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 91vh;
	background: rgb(0, 0, 0, 0.4);
}

.main-info {
	display: flex;
	flex-direction: column;
	color: white;
}
